# ===============================
#   .editorconfig by Joho
# ===============================
# Version       v0.4.0
# Created       2019-10-07
# Updated       2020-10-26
# Links         http://editorconfig.org
# ===============================




# -------------------------------
#   Topmost Editorconfig File
# -------------------------------

root = true

# -------------------------------




# -------------------------------
#   All Files
# -------------------------------

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# -------------------------------
