html,
body {
  // font-size: 14px;
  // font-weight: 300;
}

//  App
// ------------------------------

.App {
  .hero.is-success {
    background: #F2F6FA;
  }

  .hero .nav,
  .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .box {
    margin-top: 4rem;
  }

  .section {
    padding-top: 1em;
  }

  .table-container {
    min-height: 20vh;
    max-height: 45vh;
    overflow-y: auto;
  }

  hr {
    border-bottom: 1px solid black;
  }

  input {
    //   font-weight: 300;
  }

  p {
    //   font-weight: 700;
  }

  p.subtitle {
    // padding-top: 1rem;
  }
}


//  Logo
// ------------------------------

$logo-height: 4em;

.logo {
  margin-top: $logo-height * -0.8;
  padding-bottom: $logo-height * 0.5;
  img {
    max-height: $logo-height;
  }
}


//  Wheel Calculator
// ------------------------------

.WheelForm {
  margin-bottom: 1em;

  .between-input {
    font-size: 1em;
    line-height: 2em;
  }

  .btn-add {
    margin: 0 1em;
  }

}


//  Wheel Table
// ------------------------------

.WheelTable {
  thead {
    th {
      vertical-align: middle;
    }
  }
  tbody {
    tr.active {
      td {
        font-weight: bold;
      }
    }
  }
}


//  Misc
// ------------------------------

.field {
  padding-bottom: 10px;
}

.fa {
  margin-left: 5px;
}
